body {
  font-family: Helvetica, sans-serif;
  font-size: $basefontsize;
	line-height: $basefontsize*2;
	color: $dark-main-text;
	background: $light-background;
}

header {
	color: white;
  h1 {
    a {
      color: white;
    }
  }
}

#content {
  h1, h2, h3, h4 {
    padding-top: $basefontsize*2;
  }
}

h1 {
  font-size: $fontsize4;
	line-height: $basefontsize*4;
}

h2 {
  font-size: $fontsize3;
	line-height: $basefontsize*3;
}

h3 {
  font-size: $fontsize2;
}

h4 {
  font-size: $fontsize1;
}

p {

}

ul {
  margin: $basefontsize 0;
  padding-left: $basefontsize*1.5;
}

li {
  list-style-type: disc;
}

a {
	color: $link-primary;
  text-decoration: none;
	&:hover {
		color: $link-highlight;
	}
  #content & {
    color: $link-main-text;
  }
  #content &:hover {
    text-decoration: underline;
  }
}
