body {
  font-family: Helvetica, sans-serif;
  font-size: $basefontsize;
	line-height: $basefontsize*2;
	color: $dark-main-text;
	background: $light-background;
}

header {
	color: white;
  h1 {
    a {
      color: white;
    }
  }
}

#content {
  h2, h3, h4 {
    margin-top: $basefontsize*2;
  }
}

h1 {
  font-size: $fontsize4;
	line-height: $basefontsize*4;
}

h2 {
  font-size: $fontsize3;
	line-height: $basefontsize*3;
}

h3 {
  font-size: $fontsize2;
}

h4 {
  font-size: $fontsize1;
}

p {
  margin-bottom: $basefontsize;
}

ul {
  margin: $basefontsize 0;
  padding-left: $basefontsize*1.5;
}

li {
  list-style-type: disc;
}

a {
	color: $link-primary;
  text-decoration: none;
	&:hover {
		color: $link-highlight;
	}
  article & {
    color: $link-main-text;
  }
  article &:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding-left: 17px;
  border-left: 5px solid $link-primary;
}

em {
  font-style: italic;
}

.small {
  font-size: $basefontsize*0.75;
}
