// menus

ul.menu {
  float: right;
  margin-left: 0;
  margin: 0;
  li {
    float: left;
    list-style-type: none;
    a {
      padding: $basefontsize/2;
    }
    &.current_page_item {
      a {
        color: $link-highlight;
      }
    }
  }
}

.mobile-menu-items {
  ul.menu {
    float: none;
    margin: 0;
    padding: 0;
    li {
      float: none;
      a {
        width: 100%;
        display: block;
        &:hover {
          background: $highlight-background;
        }
      }
      &.current_page_item {
        a {
          color: $link-highlight;
          background: $highlight-background;
        }
      }
    }
  }
}
