// variables

$basefontsize: 17px;
$fontsize1: 20px;
$fontsize2: 25px;
$fontsize3: 33px;
$fontsize4: 46px;

$link-primary: #e57467;
$link-highlight: #fcb6ae;

$dark-main-text: #303030;

$light-background: #303030;
